* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    margin: 5px;
    justify-content: center;
}

ul {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    margin: 5px;
    font-size: 0;
}

.header {
    margin: 10px;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #f9b856;
    background-color: #f5d29d;
    box-shadow: 0px 0px 5px 0px #f29b19;
    position: relative;
    border-radius: 5px;
    top: 5;
}

.nav {
    margin-top: 5px;
    width: 100%;
    font-weight: bold;
}

.nav a {
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    display: block;
    color: #a86e16;

}

.nav a:hover {
    background-color: #cda261;
    color: #a86e16;
    border-radius: 5px;
}

    /* */
    @media (min-width: 300px) {
        .header,
        .nav {
            display: flex;
            justify-content:  center;
        }
        .header {
            flex-direction: column;
            align-items: center;
        }
    }

    @media (min-width: 500px) {
        .nav {
            justify-content: left;
        }
        .header {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    @media (max-width: 300px) {
        .header {
            display: none;
        }
    }

.box-wrapper {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    height: 100%;
}

#left {
    flex-grow: 1;
    background-color:#c1cd9d;
    border: solid 1px #aab782;
    border-radius: 5px;
}

.post-column {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.post-column div {
    flex-grow: 1;
    margin: 0 8px;
    border: solid 1px #aab782;
    border-radius: 5px;
    background-color:#cfd2c4;
}

.post-column div+div {
    margin-top: 8px;
}

#right {
    flex-grow: 1;
    text-align: center;
    background-color:#c1cd9d;
    border: solid 1px #aab782;
    border-radius: 5px;
}

.login-box {
    margin: auto;
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
    max-width: 400px;
    min-width: none;
    height: fit-content;
}

#post1, #post2 {
    display: flex;
    padding: 5px;
    height: 100%;
    flex-direction: column;
}

#userdate, #likebutton {
    flex-grow: 1;
}

#image, #text {
    flex-grow: 4;
}